rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Permite la lectura y escritura (subida/eliminación) de archivos
      // solo si el usuario está autenticado.
      allow read, write: if request.auth != null;
    }
  }
}
